/* ==========================================================================
   Reset
   ========================================================================== */

/**
 * Use a modern box model on all elements
 * http://css-tricks.com/international-box-sizing-awareness-day/
 */

*,
*:before,
*:after {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}


/* ==========================================================================
   Utilities
   ========================================================================== */


/* Clearfix
   ========================================================================== */

.cf::after {
    content: "";
    display: table;
    clear: both;
}


/* Module spacing (with lobotomized owl selector)
   ========================================================================== */

.lobo > * + * {
    margin-top: 64px;
}


/* Position
   ========================================================================== */

.poss { position: static; }
.posr { position: relative; }
.posa { position: absolute; }
.posf { position: fixed; }


/* Float
   ========================================================================== */

.fl { float: left; }
.fr { float: right; }


/* Width
   ========================================================================== */

.w20  { width: 20%; }
.w25  { width: 25%; }
.w33  { width: 33.3333%; }
.w40  { width: 40%; }
.w50  { width: 50%; }
.w60  { width: 60%; }
.w66  { width: 66.6666%; }
.w75  { width: 75%; }
.w80  { width: 80%; }
.w100 { width: 100%; }


/* ==========================================================================
   Base styling
   ========================================================================== */

body {
    color: #333;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.toc {
    width: 350px;
    padding: 30px;
}

.toc ol {
    list-style: none;
    counter-reset: my-counter;
}

.toc li {
    counter-increment: my-counter;
    position: relative;
    padding-left: 18px;
    line-height: 1.25;
}

.toc li::before {
    content: counters(my-counter, ".") " ";
    position: absolute;
    top: 5px;
    left: 0;
    color: #d41406;
    font-size: 14px;
    font-weight: bold;
}

.toc li li {
    padding-left: 36px;
}

.toc a,
.toc span {
    display: block;
    padding: 4px 0;
    color: #333;
    text-decoration: none;
}

.toc a:hover {
    color: #d41406;
}

.toc span {
    color: #999;
}

main {
    padding: 30px;
    margin-left: 350px;
}

.info {
    padding: 16px;
    background-color: #fcf46d;
}

.info.lobo > * + * {
    margin-top: 16px;
}

.info.lobo > p + ul {
    margin-top: 4px;
}

main ul,
main ol {
    padding-left: 20px;
}

.more {
    padding: 16px 0;
}

main a {
    color: #d41406;
}

h2 {
    position: relative;
    font-size: 30px;
    line-height: 38px;
    font-weight: 400;
}

h2::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -24px;
    width: 2px;
    font-size: 0;
    background-color: #d41406;
}

h3 {
    font-size: 20px;
    line-height: 26px;
}

section.lobo > * + * {
    margin-top: 16px;
}

section.lobo > * + h3 {
    margin-top: 48px;
}

section.lobo > * + h4 {
    margin-top: 32px;
}

th,
td {
    padding: 4px 0;
    text-align: left;
}

th {
    padding-right: 12px;
}


/* ==========================================================================
   Prism override
   ========================================================================== */

pre[class*="language-"] {
    margin: 0;
}
